<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
<!-- 
    outros links -->


    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


      <script src="https://cpwebassets.codepen.io/assets/packs/js/authorizeDataCapture-cb6b07198442065020cd.js"></script>

<!--     ###########links do footer#################### -->
    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<!-- #############FIM DOS LINKS DO FOOOTER######################### -->




</head>
<body class="home">

    
    <header>
        <%- include ('header'); %>

    </header>

    <div class="box" id="heading">
        <h1><%= kindOfDay%> </h1>
    </div>   

    <!-- <% if(kindOfDay ==="Sábado" || kindOfDay === "Domingo") { %>
        <h1 style="color: purple"> Lista de <%= kindOfDay %> </h1>
    <%} else { %>
        <h1 style="color: blue"> Lista de <%= kindOfDay %> </h1>
        <% } %> -->


    <div class="box">
        
    <% for (var i = 0; i < novoitem.length; i++) { %>
        <div class="item">
            <input type="checkbox">
                        <p > <%= novoitem[i] %> </p>
        </div>
        
        <% } %>




        <form action="/" class="item" method="post">
                 
                <input placeholder="Novo Item" type="text" name="text" id="itext" autocomplete="off">
                <button type="submit" name="list" value="<%= kindOfDay%>">    +     </button>
        </form>
            
    </div>    

    <footer>
        <%- include ('footer'); %>

    </footer>
   



    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascript/java.js"></script>

</body>
</html>